<h2>welcome {{name}}</h2>

<h2>{{name.length}}</h2>

<h2>{{greatuser()}}</h2>

<input [id]="myId" type="text" value="aruna">

<button (click)="onClick($event)">great</button>
<button (click)="greeting= 'welcome aruna'">great</button>

{{greeting}}

<input #myInput type="text">
<button (click)="logMessage(myInput.value)">log</button>

<input [(ngModel)]="name" type="text">
{{name}}

<br>


<h2 *ngIf="name">
    {{name}}
</h2>

<div *ngFor="let color of colors; index as i">
    <h2>{{i}} {{color}}</h2>
    
</div>

<app-test></app-test>

